.page.theme_light {
  --background-color: #fff1f7;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --text-on-background__color: #353430;
  --text-color: #353430;
  --shadow-title-color: #ff0070;
  --bg-image: url(../images/cover-image-light.png);
  --big-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --button-color: var(--text-color);
  --decorativ-visability: none;
  --rectangle-color: #353430;
  --hover-button-color: #e1007066;
  --section-title-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff1f7;
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --text-on-background__color: #353430;
    --text-color: #353430;
    --shadow-title-color: #ff0070;
    --bg-image: url(../images/cover-image-light.png);
    --big-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --button-color: var(--text-color);
    --decorativ-visability: none;
    --rectangle-color: #353430;
    --hover-button-color: #e1007066;
    --section-title-color: #353430;
  }
}
